body {
    background-image: url('static\img\stone_harbor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.map-container {
    height: 400px;
    margin-top: 20px;}

.nav{
    background-image: url('static\img\Stone_Boat.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}